body { 
  background: url("background-min.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body {
  background-image: url("");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
}

.margin {
  margin-bottom: 0;
}

.name {
  font-size: 1.5em;
  display: none;
}

nav {
  height: 8%;
  background-color: #212529;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.nav-links > * {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 110px;
  border-radius: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.footer-container > * {
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.icons {
  font-size: 3em;
}

.img-me {
  border-radius: 100px;
  width: 20%;
  height: 20%;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bio {
  padding: 30px;
}

.more-info {
  padding: 30px;
  display: none;
}

.expect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expect > * {
  margin-bottom: 50px;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #e9ecef;
  padding: 15px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.skills > * {
  list-style: none;
  padding: 20px;
  font-size: 1.5em;
}

.typewriter h1 {
  width: 70%;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /*Keeps the content on a single line*/
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
  text-decoration: none;
  margin-bottom: 50px;
}

.img-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 420px;
}

.description {
  color: #212529;
}

.description:hover {
  text-decoration: none;
}

.box:hover {
  text-decoration: none;
  background-color: #e9ecef;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.margin {
  margin-top: 30px;
  margin-bottom: 50px;
}

img {
  height: 300px;
  width: 350px;
}
